
html,
body {
	padding: 0;
	margin: 0;
	font-family: opensans, sans-serif, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

:root{
	--primary: #0a8dca;
	--secondary: #07838F;
	--tertiary: #EB9009;
	--quaternary: #EB7309;
	--background: #ffffff00;
}

.primary {
	background-color:	var(--primary);
}
.secondary {
	background-color:	var(--secondary);
}
.tertiary {
	background-color:	var(--tertiary);
}
.quaternary {
	background-color:	var(--quaternary);
}
.primary-outline {
	color: #000;
	background-color: white;
	border: .3rem solid var(--primary);
}
.secondary-outline {
	color: var(--secondary);
	background-color: white;
	border: .3rem solid var(--secondary);
}
.tertiary-outline {
	color: var(--tertiary);
	background-color: white;
	border: .3rem solid var(--tertiary);
}
.quaternary-outline {
	color: var(--quaternary);
	background-color: white;
	border: .3rem solid var(--quaternary);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
	color: inherit;
	text-decoration: none;
	mix-blend-mode: hard-light;
	cursor: pointer;
  margin: 0 5px;
}

* {
	box-sizing: border-box;
}
.navbar{
  position: relative;
  background-color: var(--primary);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 .5rem .5rem 0 rgba(0,0,0,0.19);
  height: 3rem;
}
.layout{
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  padding: 0;
  & .menu {
    margin: 2rem 1rem;
  }
  & .page {
    overflow-y: scroll;
    height: 100vh;
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
  }
}

footer{
  background-color: #000;
  color: white;
  position: relative;
  z-index: 1;
  display: grid;

  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100%
}
@media (min-width: 769px){
  footer{
  grid-template-columns: 1fr 1fr 1fr .5fr;
  justify-items: center;
  align-items: start;
  }
}
@media (max-width: 770px){
  footer{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 5rem;
  }
}
h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
h2{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
h3{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
h4{
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
h5{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	margin: 0;
}

p {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}
a{
  display: flex;
  align-items: center;
}

svg{
  width: 1.5rem;
  height: 1.5rem;
}

.background-site{
  z-index: -10;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  margin: 15vh auto;
  padding: 0rem 2rem;
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.9);
  min-width: 850px;
  width: 70vw;
  height: 70vh;
}
.panel{
  display: flex;
  flex-direction: column;
}
@media (max-width: 870px) {
  .layout{
    min-height: fit-content;
    padding: 0;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0;
    padding: auto;
    box-shadow: none;
    min-height: 100vh;
    min-width: 100vw;
  }
  .panel{
    display: none;
  }
}
/* error pages */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  width: 100%;
  height: 100%;
  background-image: url(/assets/background.svg);
  & .subtitle {
    color: #E66070;
  }
  & .buton {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #e24557;
    color: white;
    border-radius: 1rem;
  }
  & div {
    width: 24rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
  }
}
.error-image-401 {
  background-image: url(/assets/401.svg);
}
.error-image-403 {
  background-image: url(/assets/403.svg);
}
.error-image-404 {
  background-image: url(/assets/404.svg);
}
.error-image-500 {
  background-image: url(/assets/500.svg);
}

form[class*="form-"] {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}
/* label {
  outline: none !important;
}
input[type="checkbox"] {
  margin: .8rem !important;
} */
